{% extends '::_base.html.twig' %}

{% block main %}
  <section id="home-page-header" class="section angle-left swatch-blue-white">
    <div class="container content">
      <div class="grid-12 first-row">
        <h1 class="site-title">Tornado</h1>
        <p class="site-sub-title">Cloud based cyclomatic complexity code analysis tool.</p>
      </div>
    </div>
  </section>
  <section id="home-page-features" class="section angle-right swatch-white-black accent-blue">
    <div class="container content">
      <div class="grid-12 text-centre first-row">
        <h1>Features</h1>
        <p class="grid-10 align-centre">Tornado is a unique tool that brings php code analysis to the clound. It consolidates and presents the output from tools like PHPLoc (author), PHP MD (author) and PHP CS (author) and helps track changes in a project or file.</p>
      </div>
      <div class="container-blocks">
        <div class="grid-4"><h2>Project tracking</h2></div>
        <div class="grid-4"><h2>File timeline</h2></div>
        <div class="grid-4"><h2>Github integration</h2></div>
      </div>
    </div>
  </section>
{% endblock %}
