//
// @file fonts.scss
// Font face declarations and variable assignment.
//
// @author: Steve Worley <sj.worley88@gmail.com>
//

$base-font-size: 15px;
$base-line-height: $base-font-size * 2;

$sans-serif: 'Source Sans Pro', sans-serif;
$serif: "Georgia", serif;
$mono: "Source Code Pro", monospace;

//
// |------------------------------------------
//

// |- Base header styles.
%tornado-header-base {
  font-family: $sans-serif;
  font-size: $base-font-size;
  font-weight: 100;
  line-height: $base-line-height;
}

body {
  font-family: $sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5 {
  @extend %tornado-header-base;
}

h1 {
  font-size: $base-font-size * 3;
  line-height: $base-line-height * 3;
}

h2 {
  font-size: $base-font-size * 2.2;
  line-height: $base-line-height * 2.2;
}

h3 {
  font-size: $base-font-size * 1.6;
  line-height: $base-line-height * 1.6;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

pre, code {
  font-family: $mono;
  font-size: 12px;
  line-height: normal;
}

.text-white {
  color: #fff;
}
.text-green {
  color: $green-light;
}
.text-red {
  color: $red-light;
}
.text-blue {
  color: $blue-light;
}
.text-orange {
  color: $orange-light;
}
.text-purple {
  color: $purple-light;
}
