//
// @file navigation.scss
// Control the different navigation blocks around the page
//
// @author: Steve Worley <sj.worley88@gmail.com>
//
$primary-nav: #fff;

nav {
  ul,
  li,
  a {
    display: inline-block;
  }

  a {
    padding: 10px 5px;
  }
}

#primary {
  a {
    color: rgba($primary-nav, .4);
    font-weight: 300;
    position: relative;
    text-transform: lowercase;
    text-decoration: none;

    &.active,
    &:hover {
      &:before {
        @extend %underline;
        background: rgba($primary-nav, 0.4);
      }
    }
  }
}
