//
// @file Swatches.scss
// TColor swatch combination.
//
// @author: Steve Worley <sj.worley88@gmail.com>
//
$bg-height: 60px;

%base-angle {
  content: " ";
  background: #fff;
  bottom: -$bg-height;
  height: $bg-height + ($bg-height / 2);
  position: absolute;
  z-index: 1;
}

%swatch-base {
  background: $turquoise-dark;
  color: rgba(255,255,255,.70);
  position: relative;

  // &.angle-left:before {
  //   @extend %base-angle;
  //   transform: rotate(2deg);
  //   -webkit-transform: rotate(2deg);
  // }

  // &.angle-right:before {
  //   @extend %base-angle;
  //   transform: rotate(-2deg);
  //   -webkit-transform: rotate(-2deg);
  // }

  .container {
    position: relative;
    z-index: 2;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
    }
  }
}

// |------------------------------------------
// | Lists to match the swatch
// |------------------------------------------

%list-link-base {
  background: $turquoise-dark;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
  box-radius: 3px;
  color: #fff;
  padding: 0 10px;

  &:hover {
    background: $turquoise-light;
    text-decoration: none;
  }
}

section.swatch {
  padding: $bg-height 0 ($bg-height * 2);
}

.swatch-turquoise-white,
.swatch-red-white,
.swatch-orange-white,
.swatch-blue-white,
.swatch-green-white,
.swatch-white-black {
  @extend %swatch-base;;

  .dashboard-list a {
    @extend %list-link-base;
  }
  .actions a {
    color: #fff;
  }
}
.swatch-red-white {
  background: $red-dark;
  .dashboard-list a {
    background: $red-dark;
    &:hover {
      background: $red-light;
    }
  }
}
.swatch-orange-white {
  background: $orange-dark;
  .dashboard-list a {
    background: $orange-dark;
    &:hover {
      background: $orange-light;
    }
  }
}
.swatch-blue-white {
  background: $blue-dark;
  .dashboard-list a {
    background: $blue-dark;
    &:hover {
      background: $blue-light;
    }
  }
}
.swatch-green-white {
  background: $green-dark;
  .dashboard-list a {
    background: $green-dark;
    &:hover {
      background: $green-light;
    }
  }
}
.swatch-white-black {
  background: #fff;
  color: #777;
  .dashboard-list a {
    background: #fff;
    color: #777;
    &:hover {
      background: $silver-light;
    }
  }
  .actions a {
    color: #777;
  }
}

#header {
  &.swatch-turquoise-white,
  &.swatch-red-white,
  &.swatch-orange-white,
  &.swatch-blue-white {
    &:after { display: none; }
  }
  &.swatch-turquoise-white {
    background: rgba($turquoise-dark, .95);
  }
  &.swatch-red-white {
    background: rgba($red-dark, .95);
  }
  &.swatch-orange-white {
    background: rgba($orange-dark, .95);
  }
  &.swatch-blue-white {
    background: rgba($blue-dark, .95);
  }
  &.swatch-green-white {
    background: rgba($green-dark, .95);
  }
}


// |------------------------------------------
// | Accents for a swatch.
// |------------------------------------------

%accent-base {
  .first-row {
    p:last-child {
      position: relative;
      margin-bottom: 2em;
      &:after {
        @extend %underline;
        left: 35%;
        right: 35%;
        bottom: -10px;
      }
    }
  }
}

.accent-blue,
.accent-red,
.acccent-orange,
.accent-turquoise,
.accent-green,
.accent-black {
  @extend %accent-base;
}
.accent-blue {
  .first-row p:last-child:after {
    background: $blue-dark;
  }
}
.accent-red {
  .first-row p:last-child:after {
    background: $red-dark;
  }
}
.accent-orange {
  .first-row p:last-child:after {
    background: $orange-dark;
  }
}
.accent-turquoise {
  .first-row p:last-child:after {
    background: $turquoise-dark;
  }
}
.accent-green {
  .first-row p:last-child:after {
    background: $green-dark;
  }
}
.accent-black {
  .first-row p:last-child:after {
    background: #000;
  }
}
