{# src/Tornado/SiteBundle/Resources/views/Page/documentation.html.twig #}
{% extends 'TornadoSiteBundle::layout.html.twig' %}

{% block main %}
  <div class="row">
    <div class="three columns">
      <nav class="vertical-nav" id="sidebar-nav">
        <ul>
          <li><a href="#">Getting started</a></li>
        </ul>
      </nav>
    </div>

    <div class="nine columns">
      <a href="https://github.com/login/oauth/authorize?client_id=b295da66e5aab5e8712a" class="btn btn-danger">Login with GitHub</a>
      <pre>
        {{ dump(body) }}
      </pre>
    </div>

    <div class="nine columns hidden">
      {% include 'TornadoSiteBundle::Page/docs/how-to-use.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ asset('scripts/app.js') }}" data-libraries="lib/binds"></script>
{% endblock %}

