{# src/Tornado/SiteBundle/Resources/views/Page/documentation.html.twig #}
{% extends 'TornadoSiteBundle::layout.html.twig' %}

{% block main %}
  <div class="row">
    <div class="three columns">
      <nav class="vertical-nav" id="sidebar-nav">
        <ul>
          <li><a href="#">Getting started</a></li>
        </ul>
      </nav>
    </div>

    <div class="nine columns">
      <section id="getting-started" class="documentation">
        <h3>Getting Started...</h3>
        <p>Noooooo! What's with you kids? Every other day it's food, food, food. Alright, I'll get you some stupid food. Morbo will now introduce tonight's candidates&hellip; PUNY HUMAN NUMBER ONE, PUNY HUMAN NUMBER TWO, and Morbo's good friend, Richard Nixon. Ow, my spirit!</p>
        <p>Five hours? Aw, man! Couldn't you just get me the death penalty? Oh sure! Blame the wizards! Goodbye, friends.  I never thought I'd die like this.  But I always really hoped. Oh, how awful. Did he at least die painlessly? &hellip;To shreds, you say. Well, how is his wife holding up? &hellip;To shreds, you say.</p>
      </section>
    </div>
  </div>
{% endblock %}
