<div class="form hidden" id="code" style="text-align: center">
  <div class="row">
    <div class="col-md-6">
      <div id="editor"></div>
    </div>
  </div>
  <p class="upload-link"><button id="send-code" class="btn btn-info btn-big"><span class="glyphicon glyphicon-export"></span> Send source code</button><br /><a href="#upload" class="btn btn-link">or upload a file</a></p>
  <div class="hidden">
    {% include 'TornadoSiteBundle::Page/partials/form.html.twig' with {
      'form': uploadSource,
      'path': path('tornado_api_upload_source')
    } %}
  </div>
</div>


