html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

h1, h2, h3, h4, h5 { font-family: "Source Sans Pro", sans-serif; font-size: 15px; font-weight: 100; line-height: 30px; }

body { font-family: "Source Sans Pro", sans-serif; font-size: 15px; line-height: 30px; }

h1 { font-size: 45px; line-height: 90px; }

h2 { font-size: 33px; line-height: 66px; }

h3 { font-size: 24px; line-height: 48px; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

pre, code { font-family: "Source Code Pro", monospace; font-size: 12px; line-height: normal; }

.text-white { color: #fff; }

.text-green { color: #2ecc71; }

.text-red { color: #e74c3c; }

.text-blue { color: #3498db; }

.text-orange { color: #e67e22; }

.text-purple { color: #9b59b6; }

.align-right { float: right; text-align: right; }

.align-left { float: left; text-align: left; }

.align-centre { margin: 0 auto; float: none; }

.pull-right { margin-right: -10px; }

.pull-left { margin-left: -10px; }

.text-right { text-align: right !important; }

.text-left { text-align: left !important; }

.text-centre { text-align: center !important; }

.accent-blue .first-row p:last-child:after, .accent-red .first-row p:last-child:after, .acccent-orange .first-row p:last-child:after, .accent-turquoise .first-row p:last-child:after, .accent-green .first-row p:last-child:after, .accent-black .first-row p:last-child:after, #primary a.active:before, #primary a:hover:before, #home-page-header p:before { background: #fff; bottom: 5px; content: " "; height: 2px; right: 20px; left: 20px; position: absolute; }

.hidden { display: none; }

.swatch-turquoise-white, .swatch-red-white, .swatch-orange-white, .swatch-blue-white, .swatch-green-white, .swatch-white-black { background: #16a085; color: rgba(255, 255, 255, 0.7); position: relative; }
.swatch-turquoise-white .container, .swatch-red-white .container, .swatch-orange-white .container, .swatch-blue-white .container, .swatch-green-white .container, .swatch-white-black .container { position: relative; z-index: 2; }
.swatch-turquoise-white a, .swatch-red-white a, .swatch-orange-white a, .swatch-blue-white a, .swatch-green-white a, .swatch-white-black a { color: #fff; text-decoration: none; font-weight: 300; }
.swatch-turquoise-white a:hover, .swatch-red-white a:hover, .swatch-orange-white a:hover, .swatch-blue-white a:hover, .swatch-green-white a:hover, .swatch-white-black a:hover { text-decoration: underline; }

.swatch-turquoise-white .dashboard-list a, .swatch-red-white .dashboard-list a, .swatch-orange-white .dashboard-list a, .swatch-blue-white .dashboard-list a, .swatch-green-white .dashboard-list a, .swatch-white-black .dashboard-list a { background: #16a085; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); box-radius: 3px; color: #fff; padding: 0 10px; }
.swatch-turquoise-white .dashboard-list a:hover, .swatch-red-white .dashboard-list a:hover, .swatch-orange-white .dashboard-list a:hover, .swatch-blue-white .dashboard-list a:hover, .swatch-green-white .dashboard-list a:hover, .swatch-white-black .dashboard-list a:hover { background: #1abc9c; text-decoration: none; }

section.swatch { padding: 60px 0 120px; }

.swatch-turquoise-white .actions a, .swatch-red-white .actions a, .swatch-orange-white .actions a, .swatch-blue-white .actions a, .swatch-green-white .actions a, .swatch-white-black .actions a { color: #fff; }

.swatch-red-white { background: #c0392b; }
.swatch-red-white .dashboard-list a { background: #c0392b; }
.swatch-red-white .dashboard-list a:hover { background: #e74c3c; }

.swatch-orange-white { background: #d35400; }
.swatch-orange-white .dashboard-list a { background: #d35400; }
.swatch-orange-white .dashboard-list a:hover { background: #e67e22; }

.swatch-blue-white { background: #2980b9; }
.swatch-blue-white .dashboard-list a { background: #2980b9; }
.swatch-blue-white .dashboard-list a:hover { background: #3498db; }

.swatch-green-white { background: #27ae60; }
.swatch-green-white .dashboard-list a { background: #27ae60; }
.swatch-green-white .dashboard-list a:hover { background: #2ecc71; }

.swatch-white-black { background: #fff; color: #777; }
.swatch-white-black .dashboard-list a { background: #fff; color: #777; }
.swatch-white-black .dashboard-list a:hover { background: #ecf0f1; }
.swatch-white-black .actions a { color: #777; }

#header.swatch-turquoise-white:after, #header.swatch-red-white:after, #header.swatch-orange-white:after, #header.swatch-blue-white:after { display: none; }
#header.swatch-turquoise-white { background: rgba(22, 160, 133, 0.95); }
#header.swatch-red-white { background: rgba(192, 57, 43, 0.95); }
#header.swatch-orange-white { background: rgba(211, 84, 0, 0.95); }
#header.swatch-blue-white { background: rgba(41, 128, 185, 0.95); }
#header.swatch-green-white { background: rgba(39, 174, 96, 0.95); }

.accent-blue .first-row p:last-child, .accent-red .first-row p:last-child, .acccent-orange .first-row p:last-child, .accent-turquoise .first-row p:last-child, .accent-green .first-row p:last-child, .accent-black .first-row p:last-child { position: relative; margin-bottom: 2em; }
.accent-blue .first-row p:last-child:after, .accent-red .first-row p:last-child:after, .acccent-orange .first-row p:last-child:after, .accent-turquoise .first-row p:last-child:after, .accent-green .first-row p:last-child:after, .accent-black .first-row p:last-child:after { left: 35%; right: 35%; bottom: -10px; }

.accent-blue .first-row p:last-child:after { background: #2980b9; }

.accent-red .first-row p:last-child:after { background: #c0392b; }

.accent-orange .first-row p:last-child:after { background: #d35400; }

.accent-turquoise .first-row p:last-child:after { background: #16a085; }

.accent-green .first-row p:last-child:after { background: #27ae60; }

.accent-black .first-row p:last-child:after { background: #000; }

.btn { background: #2980b9; border: 0; color: #fff; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); display: block; padding: 0px 10px; text-decoration: none; transition: all .5s; }
.btn:hover { text-decoration: none; background: #409ad5; }

.btn-white { background: #fff; color: #666; }
.btn-white:hover { background: #ecf0f1; }

.btn-happy { background: #27ae60; }

.btn-sad { background: #c0392b; }

nav li { position: relative; }
nav ul, nav li, nav a { display: inline-block; }
nav a { padding: 10px 5px; }

#primary a { color: rgba(255, 255, 255, 0.4); font-weight: normal; position: relative; text-transform: lowercase; text-decoration: none; }
#primary a.active:before, #primary a:hover:before { background: rgba(255, 255, 255, 0.4); }
#primary a.user { background: #fff; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); color: #333; font-size: 13px; padding: 0 10px; transition: all .1s; }
#primary a.user.open { background: #3498db; color: #fff; }
#primary a.user:hover:before { background: none; }

.nav-top.nav-fixed { position: fixed; top: 0; width: 100%; z-index: 10; }

.actions { margin-bottom: 10px; position: relative; top: -10px; }
.actions li { display: inline-block; margin-right: 5px; }

#primary ul.user { position: relative; background: #fff; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); color: #777; display: none; position: absolute; left: -20%; top: 145%; width: 150px; }
#primary ul.user:after { position: absolute; border: solid transparent; content: " "; top: auto; left: auto; height: 0; width: 0; margin: 0; border-color: transparent; border-width: 10px; pointer-events: none; }
#primary ul.user:after { bottom: 100%; border-bottom-color: white; margin-left: -10px; left: 50%; }
#primary ul.user.open { display: block; }
#primary ul.user li { display: block; float: none; text-align: left; }
#primary ul.user li a { color: #777; display: block; font-size: 13px; padding: 2px 5px; }
#primary ul.user li a:hover { background: #3498db; color: #fff; }
#primary ul.user li a:hover:before { display: none; }

#header { padding: 0; }

.logo { font-size: 21px; line-height: 30px; padding: 10px 0; text-transform: lowercase; }

#home-page-header { text-align: center; }
#home-page-header .site-icon { display: block; font-size: 100px; margin-bottom: -15px; text-shadow: 0px 2px 0px rgba(125, 125, 125, 0.4); }
#home-page-header .site-title { font-size: 60px; }
#home-page-header p:before { left: 40%; right: 40%; bottom: -15px; }

#home-page-features h2 { font-size: 25px; }

#home-page-features [class^=icon] { font-size: 31px; }

#home-page-forms #upload { background: rgba(255, 255, 255, 0.1); border: 1px dashed rgba(255, 255, 255, 0.5); padding: 50px; box-sizing: border-box; position: relative; }
#home-page-forms #upload [class^=icon] { text-shadow: 0px 2px 0px rgba(125, 125, 125, 0.4); color: #fff; font-size: 70px; }
#home-page-forms #upload form { display: none; }
#home-page-forms #upload [type="submit"], #home-page-forms #upload button { background: #16a085; cursor: pointer; }
#home-page-forms #editor { height: 250px; }
#home-page-forms .btn-big { background: #fff; color: #333; cursor: pointer; padding: 10px; margin: 10px auto; }
#home-page-forms .btn-big:hover { background: #bdc3c7; }
#home-page-forms .btn-big:active { position: relative; top: 1px; }

#file-title { padding-top: 50px; }
#file-title .box { padding: 25px 0; font-size: 36px; font-weight: 300; }

#file-nav a { display: inline-block; padding: 5px 15px; }
#file-nav a:hover { background: #3498db; text-decoration: none; }
#file-nav a.active { background: #fff; color: #333; }
#file-nav a.active:hover { background: #fff; }

.tab-pane { display: none; }
.tab-pane.active { display: block; }

#dashboard-header { position: relative; padding: 70px 0 20px; }
#dashboard-header:before { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; background: url(../images/background/IMG_3242.jpg) no-repeat bottom; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; content: " "; height: 100%; position: absolute; top: 0; width: 100%; }
#dashboard-header h1 { padding: 30px 0 0; line-height: normal; }
#dashboard-header p { line-height: normal; padding-bottom: 50px; }
#dashboard-header #dashboard-image img { max-width: 100%; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.dashboard-preview { float: left; }
.dashboard-preview header a { color: #fff; font-size: 15px; }
.dashboard-preview header a i { position: relative; top: 1px; }

#dashboard { padding-top: 1em; }
#dashboard section { margin-bottom: 1em; }

.dashboard-list li { display: block; }
.dashboard-list li a { display: block; margin: 5px; background: #fff; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); color: #333; padding: 0 10px; }

.actions { clear: both; padding: 20px 0 0; }
