{#
@file features.html.twig
Includes content markup for the features section of the homepage.
#}
<section id="home-page-features" class="section angle-right swatch swatch-white-black accent-blue">
    <div class="container content">
        <div class="grid-12 text-centre first-row">
            <h1>Features</h1>
            <p class="grid-9 align-centre">Tornado is a unique tool that brings php code analysis to the cloud. It consolidates and presents the output from tools like PHPLoc (author), PHP MD (author) and PHP CS (author) and helps track changes in a project or file.</p>
        </div>
        <div class="container-blocks">
            <div class="grid-4">
                <h2><i class="icon-github"></i> GitHub integration</h2>
                <p>Integrate directly with GitHub and run the tools against a repository.</p>
            </div>
            <div class="grid-4">
                <h2><i class="icon-clock"></i> File timeline</h2>
                <p>Track your progress with a file so you can at-a-glance see the complexity of your files/project over time.</p>
            </div>
            <div class="grid-4">
                <h2><i class="icon-folder"></i> Project tracking</h2>
                <p>Upload multiple files to start tracking complexity against a project.</p>
            </div>
        </div>
    </div>
</section>
