<section id="home-page-header" class="section angle-left swatch swatch-blue-white">
    <div class="container content">
        <div class="grid-12 first-row">
            <div class="site-icon"><i class="icon-cloud-flash"></i></div>
            <h1 class="site-title">Tornado</h1>
            <p class="site-sub-title">Cloud based cyclomatic complexity code analysis tool.</p>
        </div>
    </div>
</section>
